GOOGLE_API_KEY=
DEVELOPER_GOOGLE_API_KEY = 
DEVELOPER_GROQ_API_KEY = 
DEBUGGER_GOOGLE_API_KEY= 
TESTER_GOOGLE_API_KEY=
ALLOWED_ORIGINS=http://localhost:3000
MISTRAL_API_KEY=

PLANNER_MODEL=mistral-large-2512
ARCHITECT_MODEL=mistral-large-2512
DEVELOPER_MODEL=devstral-2512
DEBUGGER_MODEL=gemini-3-flash-preview
TESTER_MODEL=gemini-3-flash-preview
